flows (1).json
[{"id":"efe02862.8d9be8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"5a5a836.cec977c","type":"ibmiot in","z":"efe02862.8d9be8","authentication":"apiKey","apiKey":"ea54e883.7d3038","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"esp32","applicationId":"","deviceType":"ESP32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":290,"y":140,"wires":[["94565885.9d8248","94a5c234.8042a","3f595fe5.bd125"]]},{"id":"94565885.9d8248","type":"debug","z":"efe02862.8d9be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":140,"wires":[]},{"id":"a0efb108.1b9cc","type":"function","z":"efe02862.8d9be8","name":"webpage","func":"msg.payload={'temperature':global.get(\"temperature\"),'humidity':global.get(\"humidity\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":260,"wires":[["c91d0b9f.880f08"]]},{"id":"c965814c.eacb2","type":"http in","z":"efe02862.8d9be8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":300,"y":260,"wires":[["a0efb108.1b9cc"]]},{"id":"c91d0b9f.880f08","type":"http response","z":"efe02862.8d9be8","name":"","statusCode":"","headers":{},"x":810,"y":260,"wires":[]},{"id":"3f595fe5.bd125","type":"function","z":"efe02862.8d9be8","name":"temperature","func":"global.set('temperature',msg.payload.d.temperature)\nmsg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":80,"wires":[["94565885.9d8248","e30ceaed.fc0e48"]]},{"id":"94a5c234.8042a","type":"function","z":"efe02862.8d9be8","name":"humidity","func":"global.set('humidity',msg.payload.d.humidity)\nmsg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":180,"wires":[["94565885.9d8248","de203e82.be138"]]},{"id":"e30ceaed.fc0e48","type":"ui_gauge","z":"efe02862.8d9be8","name":"","group":"91c03cb5.29d35","order":2,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":80,"wires":[]},{"id":"de203e82.be138","type":"ui_gauge","z":"efe02862.8d9be8","name":"","group":"91c03cb5.29d35","order":3,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":200,"wires":[]},{"id":"de7e3596.4858d8","type":"ui_button","z":"efe02862.8d9be8","name":"","group":"91c03cb5.29d35","order":4,"width":0,"height":0,"passthru":false,"label":"LightON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lighton","payloadType":"str","topic":"topic","topicType":"msg","x":310,"y":340,"wires":[["b49a9123.42d4"]]},{"id":"ca9d4155.50b47","type":"ui_button","z":"efe02862.8d9be8","name":"","group":"91c03cb5.29d35","order":5,"width":0,"height":0,"passthru":false,"label":"LightOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lightoff","payloadType":"str","topic":"topic","topicType":"msg","x":310,"y":420,"wires":[["b49a9123.42d4"]]},{"id":"b49a9123.42d4","type":"ibmiot out","z":"efe02862.8d9be8","authentication":"apiKey","apiKey":"ea54e883.7d3038","outputType":"cmd","deviceId":"esp32","deviceType":"ESP32","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":510,"y":380,"wires":[]},{"id":"a5d816ba.ef3978","type":"function","z":"efe02862.8d9be8","name":"command","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":500,"wires":[["1444622c.4abbee","b49a9123.42d4","1b3faff2.b421f"]]},{"id":"7598b148.f1a08","type":"http in","z":"efe02862.8d9be8","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":350,"y":500,"wires":[["a5d816ba.ef3978"]]},{"id":"1444622c.4abbee","type":"http response","z":"efe02862.8d9be8","name":"","statusCode":"","headers":{},"x":750,"y":500,"wires":[]},{"id":"1b3faff2.b421f","type":"debug","z":"efe02862.8d9be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":420,"wires":[]},{"id":"ea54e883.7d3038","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"91c03cb5.29d35","type":"ui_group","name":"smart home","tab":"c5170498.395508","order":1,"disp":true,"width":"6","collapse":false},{"id":"c5170498.395508","type":"ui_tab","name":"SmartHome","icon":"dashboard","disabled":false,"hidden":false}]